
<body style="background-color:#FBFBFE;">
<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>


<div class="topBar">
<h1>FLM Graph Generator</h1>
</div>
<div class="centre">
    <div class="leftCol">
        <div class="chat-Box">

            <p>Value: {{query.value}}</p>
        </div>
        <div class="query-Box">
            <mat-form-field class="search" >
                <mat-label>Enter a prompt here</mat-label>
                <input matInput [formControl]="query" placeholder="Help Me">
            </mat-form-field>
    
            <button class="button" mat-raised-button (click)="print()">Generate Graph</button>
        </div>

    </div>
    <div class="rightCol">
        <div class="graph-Box">

            <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>
    
    </div>
</div>

